### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/

# Telemetry database
telemetry/telemetry.db
telemetry/telemetry.db-journal