### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/

# Application Configuration files
etc/faraday/telemetry.ini
etc/faraday/aprs.ini
etc/faraday/deviceconfiguration.ini
etc/faraday/faraday_config.ini
etc/faraday/simpleui.ini
etc/faraday/proxy.ini
etc/faraday/bsl.ini
etc/faraday/firmware.txt

# Hermes Application
Applications/Hermes/hermes.ini

# SimpleUI Application
Applications/SimpleUI/node_modules/

#IDE (Pycharm)
.idea*
.idea/*
Tutorials/Tutorials/2-Advanced_Proxy_Programs/Simple_Text_Messaging/Engineering_Documents/~$Packets.xlsx

#Virtualenv
faradayenv/

# Developer Tutorials
Tutorials\Python_Developer_Tutorials\foundation\Commanding-Local\command_local.ini
Tutorials\Python_Developer_Tutorials\foundation\Commanding-Remote-RF\commanding-remote.ini

# Bootstrap Loader
etc/faraday/faradayFirmwareUpgradeScript.txt

#Setuptools
build/
dist/
