### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/

# Telemetry database
telemetry/*.db
telemetry/*.db-journal

# APRS application
aprs/login.ini

#IDE (Pycharm)
.idea*