<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="User interfact for FaradayRF modem">
		<meta name="author" content="KB1LQC">
		<link rel="icon" href="../static/favicon.ico">

		<!-- Bootstrap core CSS -->
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<!-- Bootstrap theme -->
		<link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

		<!-- jQuery and custom javascript -->
		<script src="../static/js/jquery-1.12.3.js"></script>
		<script src="../static/js/faraday.js"></script>
		<script src="../static/js/clipboard.js"></script>
		
		<!-- Custom styles for this template -->
		<meta id= "adcscaling" data-scaling="{{user.adcscaling}}" data-tempoffset="{{user.tempoffset}}" data-tempscaling="{{user.tempscaling}}" data-vccscaling="{{user.vccscaling}}" data-vddscaling="{{user.vddscaling}}">
		<meta id= "LEDState" data-led1="{{IOState.led1}}" data-led2="{{IOState.led2}}">
		<meta id= "GPIOState" data-gpio0="{{IOState.gpio0}}" data-gpio1="{{IOState.gpio1}}" data-gpio2="{{IOState.gpio2}}" data-gpio3="{{IOState.gpio3}}" data-gpio4="{{IOState.gpio4}}" data-gpio5="{{IOState.gpio5}}" data-gpio6="{{IOState.gpio6}}" data-gpio7="{{IOState.gpio8}}" data-gpio8="{{IOState.gpio8}}" data-gpio9="{{IOState.gpio9}}" data-mosfet="{{IOState.mosfet}}">


		<title>FaradayRF Modem</title>
	</head>
  <body role="document">
  
  <script>$( document ).ready(setInterval(getLocalTelemetry, 500));</script>
  
	
  <span class="test"></span>
	<div class="page-header">
        <h1><p class='text-center'>Local Access Point Modem Information</p></h1>
    </div>
	<!-- Telemetry Panel -->
	<!-- /.col-sm-4 -->
		<div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><p class='text-center'>Modem Information</p></h3>
            </div>
            <div class="panel-body">
			<table class="table table-condensed">
				<tbody>
				  <tr>
					<td><b>Callsign<b></td>
					<td><span class="callsign"></td>
				  </tr>
				  <tr>
					<td><b>Node ID<b></td>
					<td><span class="id"></td>
				  </tr>
				  <tr>
					<td><b>Real Time Clock<b></td>
					<td><span class="rtcTime"></td>
				  </tr>
				</tbody>
			  </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><p class='text-center'>GPS Information</p></h3>
            </div>
            <div class="panel-body">
			<table class="table table-condensed">
				<tbody>
				  <tr>
					<td><b>Latitude</b></b></td>
					<!--<td>{{accesspoint.latitude[0]}} {{accesspoint.latitude[1]}} {{accesspoint.latitude[2]}}</td>-->
					<td><span class="latdeg"></span> <span class="latdec"></span> <span class="latdir"></span></td>
				  </tr>
				  <tr>
					<td><b>Longitude</b></td>
					<td><span class="londeg"></span> <span class="londec"></span> <span class="londir"></span></td>
				  </tr>
				  <tr>
					<td><b>Altitude</b></td>
					<td><span class="altitude"></span> Meters</td>
				  </tr>
				  <tr>
					<td><b>Speed</b></td>
					<td><span class="speed"></span> Knots</td>
				  </tr>
				  <tr>
					<td><b>HDOP</b></td>
					<td><span class="hdop"></span></td>
				  </tr>
				  <tr>
					<td><b>GPS Fix</b></td>
					<td><span class="gpsfix"></span></td>
				  </tr>
				</tbody>
			  </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
		        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><p class='text-center'>Eng ADC/GPIO Information</p></h3>
            </div>
            <div class="panel-body">
			<table class="table table-condensed">
				<tbody>
				  <tr>
					<td><b>ADC0<b></td>
					<td><span class="adc0"></span> V</td>
				  </tr>
				  <tr>
					<td><b>ADC1</b></td>
					<td><span class="adc1"></span> V</td>
				  </tr>
				  <tr>
					<td><b>ADC2</b></td>
					<td><span class="adc2"></span> V</td>
				  </tr>
				  <tr>
					<td><b>ADC3</b></td>
					<td><span class="adc3"></span> V</td>
				  </tr>
				  <tr>
					<td><b>ADC4</b></td>
					<td><span class="adc4"></span> V</td>
				  </tr>
				  <tr>
					<td><b>ADC5</b></td>
					<td><span class="adc5"></span> V</td>
				  </tr>
				  <tr>
					<td><b>ADC6</b></td>
					<td><span class="adc6"></span> V</td>
				  </tr>
				  <tr>
					<td><b>ADC7</b></td>
					<td><span class="adc7"></span> C</td>
				  </tr>
				  <tr>
					<td><b>ADC8</b></td>
					<td><span class="adc8"></span> V</td>
				  </tr>
				  <tr>
					<td><b>Faraday GPIO</b></td>
					<td>
					<span class="label-default label">GPIO0 <span class="gpio0"></span></span>
					<span class="label-default label">GPIO1 <span class="gpio1"></span></span>
					<span class="label-default label">GPIO2 <span class="gpio2"></span></span>
					<span class="label-default label">GPIO3 <span class="gpio3"></span></span>
					<span class="label-default label">GPIO4 <span class="gpio4"></span></span>
					<span class="label-default label">GPIO5 <span class="gpio5"></span></span>
					<span class="label-default label">GPIO6 <span class="gpio6"></span></span>
					<span class="label-default label">GPIO7 <span class="gpio7"></span></span>
					<span class="label-default label">GPIO8 <span class="gpio8"></span></span>
					<span class="label-default label">GPIO9 <span class="gpio9"></span></span>
					</td>
				  </tr>
				  <tr>
					<td><b>Faraday On-Board IO</b></td>
					<td>
					<span class="label-primary label">MOSFET <span class="faradayio2"></span></span>
					<span class="label-primary label">LED1 <span class="faradayio3"></span></span>
					<span class="label-primary label">LED2 <span class="faradayio4"></span></span>
					<span class="label-primary label"><span class="faradayio5"></span></span>
					<span class="label-primary label"><span class="faradayio6"></span></span>
					<span class="label-primary label">BUTTON <span class="faradayio7"></span></span>
					</td>
				  </tr>
				  <tr>
					<td><b>Faraday RF State</b></td>
					<td>
					<span class="label-info label"><span class="faradayrf0"></span></span>
					<span class="label-info label"><span class="faradayrf1"></span></span>
					<span class="label-info label"><span class="faradayrf2"></span></span>
					<span class="label-info label"><span class="faradayrf3"></span></span>
					<span class="label-info label"><span class="faradayrf4"></span></span>
					<span class="label-info label"><span class="faradayrf5"></span></span>
					<span class="label-info label"><span class="faradayrf6"></span></span>
					<span class="label-info label"><span class="faradayrf7"></span></span>
					</td>
				  </tr>
				</tbody>
			  </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
	</div>
	<!-- Telemetry Panel -->
	<div class="row">
	  <div class="col-sm-4">
			<div class="panel panel-info">
			<div class="panel-heading">
              <h3 class="panel-title"><p class='text-center'>IO Command</p></h3>
            </div>
				<div class="panel-body">
				<form class = "faradayio" action="http://127.0.0.1/command/" method="POST">
					<div class="checkbox">
						<label>
						<input id="LED1" type="checkbox" value="ON" name="LED1">
						<input id="LED1HIDDEN" type="hidden" value="OFF" name="LED1">
						<div id="LED1-TEXT">LED 1</div>
						</label>
						
					</div>
					<div class="checkbox">
						<label>
						<input id="LED2" type="checkbox" value="ON" name="LED2">
						<input id="LED2HIDDEN" type="hidden" value="OFF" name="LED2">
						<div id="LED2-TEXT">LED 2</div>
						</label>
					</div>
					<div class="checkbox">
						<label>
						<input id="GPIO0" type="checkbox" value="ON" name="GPIO0">
						<input id="GPIO0HIDDEN" type="hidden" value="OFF" name="GPIO0">
						<div id="GPIO0-TEXT">GPIO 0</div>
						</label>
					</div>
					<div class="checkbox">
						<label>
						<input id="GPIO1" type="checkbox" value="ON" name="GPIO1">
						<input id="GPIO1HIDDEN" type="hidden" value="OFF" name="GPIO1">
						<div id="GPIO1-TEXT">GPIO 1</div>
						</label>
					</div>
					<div class="checkbox">
						<label>
						<input id="GPIO2" type="checkbox" value="ON" name="GPIO2">
						<input id="GPIO2HIDDEN" type="hidden" value="OFF" name="GPIO2">
						<div id="GPIO2-TEXT">GPIO 2</div>
						</label>
					</div>
					<div class="checkbox">
						<label>
						<input id="GPIO3" type="checkbox" value="ON" name="GPIO3">
						<input id="GPIO3HIDDEN" type="hidden" value="OFF" name="GPIO3">
						<div id="GPIO3-TEXT">GPIO 3</div>
						</label>
					</div>
					<div class="checkbox">
						<label>
						<input id="GPIO4" type="checkbox" value="ON" name="GPIO4">
						<input id="GPIO4HIDDEN" type="hidden" value="OFF" name="GPIO4">
						<div id="GPIO4-TEXT">GPIO 4</div>
						</label>
					</div>
					<div class="checkbox">
						<label>
						<input id="GPIO5" type="checkbox" value="ON" name="GPIO5">
						<input id="GPIO5HIDDEN" type="hidden" value="OFF" name="GPIO5">
						<div id="GPIO5-TEXT">GPIO 5</div>
						</label>
					</div>
					<div class="checkbox">
						<label>
						<input id="GPIO6" type="checkbox" value="ON" name="GPIO6">
						<input id="GPIO6HIDDEN" type="hidden" value="OFF" name="GPIO6">
						<div id="GPIO6-TEXT">GPIO 6</div>
						</label>
					</div>
					<div class="checkbox">
						<label>
						<input id="GPIO7" type="checkbox" value="ON" name="GPIO7">
						<input id="GPIO7HIDDEN" type="hidden" value="OFF" name="GPIO7">
						<div id="GPIO7-TEXT">GPIO 7</div>
						</label>
					</div>
					<div class="checkbox">
						<label>
						<input id="GPIO8" type="checkbox" value="ON" name="GPIO8">
						<input id="GPIO8HIDDEN" type="hidden" value="OFF" name="GPIO8">
						<div id="GPIO8-TEXT">GPIO 8</div>
						</label>
					</div>
					<div class="checkbox">
						<label>
						<input id="GPIO9" type="checkbox" value="ON" name="GPIO9">
						<input id="GPIO9HIDDEN" type="hidden" value="OFF" name="GPIO9">
						<div id="GPIO9-TEXT">GPIO 9</div>
						</label>
					</div>
					<div class="checkbox">
						<label>
						<input id="MOSFET" type="checkbox" value="ON" name="MOSFET">
						<input id="MOSFETHIDDEN" type="hidden" value="OFF" name="MOSFET">
						<div id="MOSFET-TEXT">MOSFET</div>
						</label>
					</div>
					
					<button type="command" class="btn btn-primary">Send Command</button>
					
					</form>
					<script>
					$('.faradayio').submit(function(){
					if(document.getElementById("LED1").checked) {
						document.getElementById('LED1HIDDEN').disabled = true;
						}
					if(document.getElementById("LED2").checked) {
						document.getElementById('LED2HIDDEN').disabled = true;
						}
					if(document.getElementById("GPIO0").checked) {
						document.getElementById('GPIO0HIDDEN').disabled = true;
						}
					if(document.getElementById("GPIO1").checked) {
						document.getElementById('GPIO1HIDDEN').disabled = true;
						}
					if(document.getElementById("GPIO2").checked) {
						document.getElementById('GPIO2HIDDEN').disabled = true;
						}
					if(document.getElementById("GPIO3").checked) {
						document.getElementById('GPIO3HIDDEN').disabled = true;
						}
					if(document.getElementById("GPIO4").checked) {
						document.getElementById('GPIO4HIDDEN').disabled = true;
						}
					if(document.getElementById("GPIO5").checked) {
						document.getElementById('GPIO5HIDDEN').disabled = true;
						}
					if(document.getElementById("GPIO6").checked) {
						document.getElementById('GPIO6HIDDEN').disabled = true;
						}
					if(document.getElementById("GPIO7").checked) {
						document.getElementById('GPIO7HIDDEN').disabled = true;
						}
					if(document.getElementById("GPIO8").checked) {
						document.getElementById('GPIO8HIDDEN').disabled = true;
						}
					if(document.getElementById("GPIO9").checked) {
						document.getElementById('GPIO9HIDDEN').disabled = true;
						}
					if(document.getElementById("MOSFET").checked) {
						document.getElementById('MOSFETHIDDEN').disabled = true;
						}						

					});
					
					</script>
					
				</div>
			</div>
	  </div>
	  <div class="col-sm-4">
	  <div class="panel panel-info">
			<div class="panel-heading">
              <h3 class="panel-title"><p class='text-center'>IO Command</p></h3>
            </div>
				<div class="panel-body">
				<form action="http://127.0.0.1/command/ram" method="POST">
	  <table class="table table-condensed">
				<tbody>
			  <tr>
				<td>Callsign</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="callsign" value="{{user.callsign}}" size="25" style="text-transform: uppercase"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>Node ID</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="nodeid" id = "nodeid" value="{{user.nodeid}}" size="25" min="0" max="255"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>RF Frequency (MHz)</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="rffreq" value="{{user.bootfreq}}" size="25"></input>
				</fieldset>
				</td>
			  </tr>
				<tr>
					<td><button type="submit" class="btn btn-primary">Program RAM</button></td>
				</tr>
				 </form>
				 <tr>
				<td> Send UART Telemetry</td>
				<td>
				<form action="http://127.0.0.1/command/ram" method="GET">
			  <input type="hidden" name="TXUART" value="1" /> 
			  <button type="submit" class="btn btn-primary">Transmit UART</button>
			  </form>
				</td>
				</tr>
				<tr>
				<td> Send RF Telemetry</td>
				<td>
				<form action="http://127.0.0.1/command/ram" method="POST">
			  <input id="TransmitRF" type="hidden" value="ON" name="TXRF"></input>
			  <button type="submit" class="btn btn-primary">Transmit RF Telemetry</button>
			  </form>
				</td>
				</tr>
				
				
			 
			  </tbody>
			  </table>
			  
			  </div>
			  </div>
	  </div>
	  <div class="col-sm-4">
	  
	  </div>
	</div>
	<!-- Faraday Configuration -->
	<h2><p class='text-center'>Modem Configuration</p></h2>
	<div class="panel panel-default">
		<form action="http://127.0.0.1/config/" method="POST">
		  <table class="table-compact">
			<thead>
			  <tr>
				<th>Parameter</th>
				<th>Current Value</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>Callsign</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="callsign" value="{{user.callsign}}" size="25" style="text-transform: uppercase"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>Node ID</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="nodeid" id = "nodeid" value="{{user.nodeid}}" size="25" min="0" max="255"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>RF Power Config</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="powerconf" value="{{user.powerconf}}" size="25"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>Boot Frequency (MHz)</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="bootfreq" value="{{user.bootfreq}}" size="25"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>GPS Boot</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="gpsboot" value="{{user.gpsboot}}" size="25"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>UART Telemetry Boot</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="uarttelemboot" value="{{user.uarttelemboot}}" size="25"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>RF Telemetry Boot</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="rftelemboot" value="{{user.rftelemboot}}" size="25"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>UART Beacon Interval</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="uartinterval" value="{{user.uartinterval}}" size="25"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>RF Beacon Interval</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="rfinterval" value="{{user.rfinterval}}" size="25"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>Latitude</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="latitude" value="{{user.latitude}}" size="25"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>Latitude Direction</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="latdir" value="{{user.latdir}}" size="25" style="text-transform: uppercase"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>longitude</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="longitude" value="{{user.longitude}}" size="25"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>longitude Direction</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="londir" value="{{user.londir}}" size="25" style="text-transform: uppercase"></input>
				</fieldset>
				</td>
			  </tr>
			  <tr>
				<td>Altitude</td>
				<td>
				<fieldset class="form-inline">
				<input type="text" class="form-control" name="altitude" value="{{user.altitude}}" size="25"></input>
				</fieldset>
				</td>
			  </tr>
			</tbody>
		  </table>
		  <button type="submit" class="btn btn-primary">Program Configuration</button>
		  </form>
	</div>

	<!-- Faraday Configuration -->

    <!-- Bootstrap core JavaScript -->

    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script>$( document ).load(setIOCheckboxes());</script>
  </body>
</html>
