<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="User interfact for FaradayRF modem">
		<meta name="author" content="KB1LQC">
		<link rel="icon" href="../static/favicon.ico">

		<!-- Bootstrap core CSS -->
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- Bootstrap theme -->
		<link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

		<!-- jQuery and custom javascript -->
		<script src="../static/js/jquery-1.12.3.js"></script>
		<script src="../static/js/config.js"></script>
		<script src="../static/js/faraday.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<!-- <script src="../static/js/d3.v3.js"></script> -->
		<script src="../static/js/Chart.js"></script>
		<!-- <script src="../static/js/Chart.bundle.js"></script> -->
		<script src="../static/js/clipboard.js"></script>
		<script src="../static/js/turf.min.js"></script>
		
		<!-- Custom styles for this template -->
		<meta id= "adcscaling" data-scaling="{{user.adcscaling}}" data-tempoffset="{{user.tempoffset}}" data-tempscaling="{{user.tempscaling}}" data-vccscaling="{{user.vccscaling}}" data-vddscaling="{{user.vddscaling}}">
		<meta id= "LEDState" data-led1="{{IOState.led1}}" data-led2="{{IOState.led2}}">
		<meta id= "GPIOState" data-gpio0="{{IOState.gpio0}}" data-gpio1="{{IOState.gpio1}}" data-gpio2="{{IOState.gpio2}}" data-gpio3="{{IOState.gpio3}}" data-gpio4="{{IOState.gpio4}}" data-gpio5="{{IOState.gpio5}}" data-gpio6="{{IOState.gpio6}}" data-gpio7="{{IOState.gpio8}}" data-gpio8="{{IOState.gpio8}}" data-gpio9="{{IOState.gpio9}}" data-mosfet="{{IOState.mosfet}}">


		<title>FaradayRF Modem</title>
	</head>
  <body role="document">
  
  <script>
	var stations;
	getStations();
	$( document ).ready(setInterval(checkStations,2000));
	$( document ).ready($("#command-io-form-kb1lqc3").submit(function(){alert("Submitted");}));

		
	//Copy button function for HAB telemetry (probably bad location for this code)
	var clipboard = new Clipboard('#location');
	clipboard.on('success', function(e) {
		console.log(e);
	});
	clipboard.on('error', function(e) {
		console.log(e);
	});
	</script>
	
<div class="row">
  <div class="col-sm-2">
  <h1>Stations</h1><br/>
  <ul class="nav nav-pills nav-stacked" id="stations">
  </ul>

	
  </div>
  
	<div class="col-sm-10">
	<div class="tab-content"></div>
	<!-- move canvas later -->

	</div>
</div>
<!-- <script>
			$("#stations").append('<form id="addStationMan" action="http://127.0.0.1/faraday/addstation" method="POST"></form>');
			$("form#addStationMan").append('<div class="form-group" id="formgroup-addstation"></div>');
			//$("#formgroup-addstation").append('<label for="addStationMan">Callsign</label>');
			$("#formgroup-addstation").append('<input type="text" class="form-control" id="addstation-callsign" placeholder="Callsign" name="callsign">');
			$("#formgroup-addstation").append('<input type="text" class="form-control" id="addstation-id" placeholder="ID" value="1" name="nodeid">');
			$("#formgroup-addstation").append('<input type="text" class="form-control" id="addstation-aprf" placeholder="aprf" name="aprf">');
			$("#formgroup-addstation").append('<input type="hidden" name="skip" value="1">');
			$("form#addStationMan").append('<button type="submit" class="btn btn-primary">Add Station</button>');
			$("#stations").append('<br />');
</script> -->
	</body>
	</html>