{% extends "layout.html" %}
{% block content %}
<script type=text/javascript>
    
    function getTelemetry(){
        try{
        var data = [];
        var callsign = "{{callsign}}";
        var nodeid = "{{nodeid}}";

        // Build URL for Telemetry db query, then retrieve data
        var url = "http://localhost:8001/?limit=1&callsign=" + callsign + "&nodeid=" + nodeid;
            $.getJSON(url,function(data){
                try{
                    var epoch = data[0]["EPOCH"];
                    var d = new Date(0);
                    d.setUTCSeconds(epoch);
                    $(".EPOCH").text(d);

                    $(".CALLSIGN").text(data[0]["SOURCECALLSIGN"]);
                    $(".NODEID").text(data[0]["SOURCEID"]);
                    $(".GPSLATITUDE").text(data[0]["GPSLATITUDE"]);
                    $(".GPSLATITUDEDIR").text(data[0]["GPSLATITUDEDIR"]);
                    $(".GPSLONGITUDE").text(data[0]["GPSLONGITUDE"]);
                    $(".GPSLONGITUDEDIR").text(data[0]["GPSLONGITUDEDIR"]);
                    $(".ALTITUDE").text(data[0]["GPSALTITUDE"]);
                    $(".SPEED").text(Math.round(data[0]["GPSSPEED"]*0.514444*100)/100);
                    $(".GPSFIX").text(data[0]["GPSFIX"]);


                    $(".BOARDTEMP").text(data[0]["BOARDTEMP"]);
                    $(".ADC0").text(Math.round(data[0]["ADC0"]*1000*(2.41/4096))/1000);
                    $(".ADC1").text(Math.round(data[0]["ADC1"]*1000*(2.41/4096))/1000);
                    $(".ADC2").text(Math.round(data[0]["ADC2"]*1000*(2.41/4096))/1000);
                    $(".ADC3").text(Math.round(data[0]["ADC3"]*1000*(2.41/4096))/1000);
                    $(".ADC4").text(Math.round(data[0]["ADC4"]*1000*(2.41/4096))/1000);
                    $(".ADC5").text(Math.round(data[0]["ADC5"]*1000*(2.41/4096))/1000);
                    $(".HABTIMER").text(data[0]["HABTIMER"]);
                    $(".HABTIMERSTATE").text(data[0]["HABTIMERSTATE"]);
                    $(".HABTRIGGERTIME").text(data[0]["HABTRIGGERTIME"]);
                    $(".HABCUTDOWNSTATE").text(data[0]["HABCUTDOWNSTATE"]);

                    var gpio = new Array();
                    gpio = data[0]["GPIOSTATE"].toString(2).split("");
                    gpio.reverse();

                    $(".GPIO0").text(gpio[0]);
                    $(".GPIO1").text(gpio[1]);
                    $(".GPIO2").text(gpio[2]);
                    $(".GPIO3").text(gpio[3]);
                    $(".GPIO4").text(gpio[4]);
                    $(".GPIO5").text(gpio[5]);
                    $(".GPIO6").text(gpio[6]);
                    $(".GPIO7").text(gpio[7]);

                    var rfstate = new Array();
                    rfstate = data[0]["RFSTATE"].toString(2).split("");
                    rfstate.reverse();

                    $(".PAENABLE").text(rfstate[7]);
                    $(".LNAENABLE").text(rfstate[5]);
                    $(".HGMSELECT").text(rfstate[3]);

                    <!--var iostate = new Array();-->
                    <!--iostate = data[0]["IOSTATE"].toString(2).split("");-->
                    <!--iostate.reverse();-->

                    <!--$(".BUTTON").text(iostate[0]);-->
                    <!--$(".GPSSTANDBY").text(iostate[1]);-->
                    <!--$(".GPSRESET").text(iostate[2]);-->
                    <!--$(".LED2").text(iostate[3]);-->
                    <!--$(".LED1").text(iostate[4]);-->
                    <!--$(".MOSFET").text(iostate[5]);-->
                    <!--$(".GPIO9").text(iostate[6]);-->
                    <!--$(".GPIO8").text(iostate[7]);-->

                    }
                    catch(err){
                        $(".warning").text(callsign + "-" + nodeid + " not found!");
                    }
            }).fail(function(){
                console.log("Error");
                });
        }
        catch(err){
            console.log(err);
        };
    }
    setInterval(function(){ getTelemetry(); }, 500);
</script>

<div class="well">
    <span class="warning bg-danger text-center"></span>
    <div class="row">
        <div class="col-md-6 text-left"><b><span class="CALLSIGN"></span>-<span class="NODEID"></span></b></div>
        <div class="col-md-6 text-right"><span class="EPOCH"></span></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel-primary">
            <div class="panel-heading text-center">
                <h4>GPS Data</h4>
            </div>
            <div class="panel-body">
                <b>Latitude</b>: <span class="GPSLATITUDE"></span> <span class="GPSLONGITUDEDIR"></span><br/>
                <b>Longitude</b>: <span class="GPSLONGITUDE"></span> <span class="GPSLATITUDEDIR"></span><br/>
                <b>Altitude</b>: <span class="ALTITUDE"></span> m<br/>
                <b>Speed</b>: <span class="SPEED"></span> m/s<br/>
                <b>GPS Fix</b>: <span class="GPSFIX"></span><br/>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-primary">
            <div class="panel-heading text-center">
                <h4>ADC Data</h4>
            </div>
            <div class="panel-body">
                <b>Board Temp</b>: <span class="BOARDTEMP"></span> C<br/>
                <br />
                <b>ADC0</b>: <span class="ADC0"></span><br/>
                <b>ADC1</b>: <span class="ADC1"></span><br/>
                <b>ADC2</b>: <span class="ADC2"></span><br/>
                <b>ADC3</b>: <span class="ADC3"></span><br/>
                <b>ADC4</b>: <span class="ADC4"></span><br/>
                <b>ADC5</b>: <span class="ADC5"></span><br/>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-primary">
            <div class="panel-heading text-center">
                <h4>IO</h4>
            </div>
            <div class="panel-body">
                <b>GPIO-0</b>: <span class="GPIO0"></span><br/>
                <b>GPIO-1</b>: <span class="GPIO1"></span><br/>
                <b>GPIO-2</b>: <span class="GPIO2"></span><br/>
                <b>GPIO-3</b>: <span class="GPIO3"></span><br/>
                <b>GPIO-4</b>: <span class="GPIO4"></span><br/>
                <b>GPIO-5</b>: <span class="GPIO5"></span><br/>
                <b>GPIO-6</b>: <span class="GPIO6"></span><br/>
                <b>GPIO-7</b>: <span class="GPIO7"></span><br/>
                <b>GPIO-8</b>: <span class="GPIO8"></span><br/>
                <b>GPIO-9</b>: <span class="GPIO9"></span><br/>
                <br />
                <b>PA Enable</b>: <span class="PAENABLE"></span><br/>
                <b>LNA Enable</b>: <span class="LNAENABLE"></span><br/>
                <b>HGM Select</b>: <span class="HGMSELECT"></span><br/>
                <br />
                <b>Button</b>: <span class="BUTTON"></span><br/>
                <b>GPS Standby</b>: <span class="GPSSTANDBY"></span><br/>
                <b>GPS Reset</b>: <span class="GPSRESET"></span><br/>
                <b>LED 1</b>: <span class="LED1"></span><br/>
                <b>LED 2</b>: <span class="LED2"></span><br/>
                <b>MOSFET</b>: <span class="MOSFET"></span><br/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel-primary">
            <div class="panel-heading text-center">
                <h4>High Altitude Balloon Timer</h4>
            </div>
            <div class="panel-body">
                <b>HAB Timer</b>: <span class="HABTIMER"></span><br/>
                <b>HAB Timer State</b>: <span class="HABTIMERSTATE"></span><br/>
                <b>HAB Trigger Time</b>: <span class="HABTRIGGERTIME"></span><br/>
                <b>HAB Cut-Down State</b>: <span class="HABCUTDOWNSTATE"></span><br/>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-primary">
            <div class="panel-heading text-center">
                <h4>Faraday IO Control</h4>
            </div>
            <div class="panel-body">
            <strong>Local</strong>
            <form action="/" method="post">
                <input type="hidden" name="CALLSIGN" value="KB1LQC">
                <input type="hidden" name="NODEID" value="2">
                <select name="IO">
                    <option value="LED1 ON">LED1 On</option>
                    <option value="LED1 OFF">LED1 Off</option>
                    <option value="LED2 ON">LED2 On</option>
                    <option value="LED2 OFF">LED2 Off</option>
                    <option value="GPIO0 ON">GPIO0 On</option>
                    <option value="GPIO0 OFF">GPIO0 Off</option>
                    <option value="GPIO1 ON">GPIO1 On</option>
                    <option value="GPIO1 OFF">GPIO1 Off</option>
                    <option value="GPIO2 ON">GPIO2 On</option>
                    <option value="GPIO2 OFF">GPIO2 Off</option>
                    <option value="GPIO3 ON">GPIO3 On</option>
                    <option value="GPIO3 OFF">GPIO3 Off</option>
                    <option value="GPIO4 ON">GPIO4 On</option>
                    <option value="GPIO4 OFF">GPIO4 Off</option>
                    <option value="GPIO5 ON">GPIO5 On</option>
                    <option value="GPIO5 OFF">GPIO5 Off</option>
                    <option value="GPIO6 ON">GPIO6 On</option>
                    <option value="GPIO6 OFF">GPIO6 Off</option>
                    <option value="GPIO7 ON">GPIO7 On</option>
                    <option value="GPIO7 OFF">GPIO7 Off</option>
                    <option value="GPIO8 ON">GPIO8 On</option>
                    <option value="GPIO8 OFF">GPIO8 Off</option>
                    <option value="MOSFET">MOSFET Fire</option>
                    <option value="HABTIMERRESET">HAB Timer Reset</option>
                    <option value="HABDISABLETIMER">HAB Disable Cut-down Timer</option>
                    <option value="HABTIMERIDLE">HAB Idle Timer</option>
                </select>
                <button id="submit">submit</button>
            </form>

            <strong>Remote</strong>
            <form action="/" method="post">
                <input type="hidden" name="CALLSIGN" value="KB1LQC">
                <input type="hidden" name="NODEID" value="2">
                <select name="IO">
                    <option value="LED1R ON">LED1 On</option>
                    <option value="LED1R OFF">LED1 Off</option>
                    <option value="LED2R ON">LED2 On</option>
                    <option value="LED2R OFF">LED2 Off</option>
                    <option value="GPIO0R ON">GPIO0 On</option>
                    <option value="GPIO0R OFF">GPIO0 Off</option>
                    <option value="GPIO1R ON">GPIO1 On</option>
                    <option value="GPIO1R OFF">GPIO1 Off</option>
                    <option value="GPIO2R ON">GPIO2 On</option>
                    <option value="GPIO2R OFF">GPIO2 Off</option>
                    <option value="GPIO3R ON">GPIO3 On</option>
                    <option value="GPIO3R OFF">GPIO3 Off</option>
                    <option value="GPIO4R ON">GPIO4 On</option>
                    <option value="GPIO4R OFF">GPIO4 Off</option>
                    <option value="GPIO5R ON">GPIO5 On</option>
                    <option value="GPIO5R OFF">GPIO5 Off</option>
                    <option value="GPIO6R ON">GPIO6 On</option>
                    <option value="GPIO6R OFF">GPIO6 Off</option>
                    <option value="GPIO7R ON">GPIO7 On</option>
                    <option value="GPIO7R OFF">GPIO7 Off</option>
                    <option value="GPIO8R ON">GPIO8 On</option>
                    <option value="GPIO8R OFF">GPIO8 Off</option>
                    <option value="MOSFETR">MOSFET Fire</option>
                    <option value="HABTIMERRESETR">HAB Timer Reset</option>
                    <option value="HABDISABLETIMERR">HAB Disable Cut-down Timer</option>
                    <option value="HABTIMERIDLER">HAB Idle Timer</option>
                </select>
                <button id="submit">submit</button>
            </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}