{% extends "layout.html" %}
{% block content %}
<script type=text/javascript>
    
    function getTelemetry(){
        try{
        var data = [];
        var callsign = "{{callsign}}";
        var nodeid = "{{nodeid}}";

        // Build URL for Telemetry db query, then retrieve data
        var url = "http://localhost:8001/?limit=1&callsign=" + callsign + "&nodeid=" + nodeid;
            $.getJSON(url,function(data){
                var epoch = data[0]["EPOCH"];
                var d = new Date(0);
                d.setUTCSeconds(epoch);
                $(".EPOCH").text(d);

                $(".CALLSIGN").text(data[0]["SOURCECALLSIGN"]);
                $(".NODEID").text(data[0]["SOURCEID"]);
                $(".GPSLATITUDE").text(data[0]["GPSLATITUDE"]);
                $(".GPSLATITUDEDIR").text(data[0]["GPSLATITUDEDIR"]);
                $(".GPSLONGITUDE").text(data[0]["GPSLONGITUDE"]);
                $(".GPSLONGITUDEDIR").text(data[0]["GPSLONGITUDEDIR"]);
                $(".ALTITUDE").text(data[0]["GPSALTITUDE"]);

                $(".SPEED").text(data[0]["GPSSPEED"]*0.514444);

                $(".BOARDTEMP").text(data[0]["BOARDTEMP"]);
                $(".ADC0").text(Math.round(data[0]["ADC0"]*1000*(2.41/4096))/1000);
                $(".ADC1").text(Math.round(data[0]["ADC1"]*1000*(2.41/4096))/1000);
                $(".ADC2").text(Math.round(data[0]["ADC2"]*1000*(2.41/4096))/1000);
                $(".ADC3").text(Math.round(data[0]["ADC3"]*1000*(2.41/4096))/1000);
                $(".ADC4").text(Math.round(data[0]["ADC4"]*1000*(2.41/4096))/1000);
                $(".ADC5").text(Math.round(data[0]["ADC5"]*1000*(2.41/4096))/1000);
                $(".HABTIMERSTATE").text(data[0]["HABTIMERSTATE"]);
                $(".HABTRIGGERTIME").text(data[0]["HABTRIGGERTIME"]);
                $(".HABCUTDOWNSTATE").text(data[0]["HABCUTDOWNSTATE"]);
            }).fail(function(){
                console.log("Error");  
                });
        }
        catch(err){
            console.log(err);
        };
    }
    setInterval(function(){ getTelemetry(); }, 500);
</script>

<div class="well">
    <div class="row">
        <div class="col-md-6 text-left"><b><span class="CALLSIGN"></span>-<span class="NODEID"></span></b></div>
        <div class="col-md-6 text-right"><span class="EPOCH"></span></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel-primary">
            <div class="panel-heading text-center">
                <h4>GPS Data</h4>
            </div>
            <div class="panel-body">
                <b>Latitude</b>: <span class="GPSLATITUDE"></span> <span class="GPSLONGITUDEDIR"></span><br/>
                <b>Longitude</b>: <span class="GPSLONGITUDE"></span> <span class="GPSLATITUDEDIR"></span><br/>
                <b>Altitude</b>: <span class="ALTITUDE"></span> m<br/>
                <b>Speed</b>: <span class="SPEED"></span> m/s<br/>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-primary">
            <div class="panel-heading text-center">
                <h4>ADC Data</h4>
            </div>
            <div class="panel-body">
                <b>Board Temp</b>: <span class="BOARDTEMP"></span> C<br/>
                <b>ADC0</b>: <span class="ADC0"></span><br/>
                <b>ADC1</b>: <span class="ADC1"></span><br/>
                <b>ADC2</b>: <span class="ADC2"></span><br/>
                <b>ADC3</b>: <span class="ADC3"></span><br/>
                <b>ADC4</b>: <span class="ADC4"></span><br/>
                <b>ADC5</b>: <span class="ADC5"></span><br/>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-primary">
            <div class="panel-heading text-center">
                <h4>High Altitude Balloon Timer</h4>
            </div>
            <div class="panel-body">
                <b>HABTIMERSTATE</b>: <span class="HABTIMERSTATE"></span><br/>
                <b>HABTRIGGERTIME</b>: <span class="HABTRIGGERTIME"></span><br/>
                <b>HABCUTDOWNSTATE</b>: <span class="HABCUTDOWNSTATE"></span><br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}